body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* Header */

a {
  color: seashell;
  text-decoration: underline;
}
header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

nav {
      text-align: right;
      flex-grow: 1;
}

nav span {
  display: inline-block;
  padding-right: 20px;
}

/* Our Mission */

.maincontent {
  padding-top 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;}

  #mission {
  background-image: url(/Users/domsalunke/Documents/projects/TeaCozy/resources/images/img-mission-background.jpg);
  padding-top: 70px;
  height: 700px;
}

.content {
  text-align: center;
  background-color: black;
  width: 100%;
  margin: auto;
}

h2, h4 {
  display: block;
  margin: 0px;
  padding: 10px;
}

/*Tea of the Month*/

.tea {
  padding-top: 80px;
  text-align: center;
}

.item img {
  height: 200px;
  display: block;
  margin: 10px;
}

.item span {
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}
